node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Prisma environment-specific databases
/prisma/dev.db
/prisma/dev.db-journal
/prisma/test.db
/prisma/test.db-journal

# Prisma Studio
/prisma/.studio
